body{
    background: #443c3c;
}

#grid-container {
border: 1px solid black;
display: grid;
grid-template-columns: repeat(20, 1fr);
grid-template-rows: repeat(20, 1fr);
margin-bottom: 20px;
}

section > div {
  
    background-color: rgb(67, 206, 199);
    border: 1px solid black;
    grid-column: 1 span;
    /* grid-row: 1 span; */
    width: 20px;
    height:20px;
}

section > div:hover {
    background-color: rgb(30, 75, 77)
}

#grid-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
}
p {
    display: flex;
    align-self: center;
    margin: 0 auto;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 12px;
}

#reset {
    display: flex;
    margin: 0 auto;
    border: 5px solid white;
    color: black; 
    background: rgb(67, 206, 199);
    font-size: 20px;
    
}

.timer {
    width: 200px;
    height: 50px;
    border: 5px solid white;
    border-radius: 10%;
    display: flex;
    background: #443c3c;
    margin: 20px auto;
    
}

.time {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    align-self: center;
    margin: 0 auto;
    color: white;
    font-weight: 50px;
    font-size: 30px;
    letter-spacing: 2px;
}

.container {
    border: 5px solid white;
    padding: 0 0 20px 0;
}

.difficulty {
    display: flex;
    margin: auto;   
}
#logHeader {
    display: flex;
    position: absolute;
    top: 75px;
    left: 25px;
    color: white;
    text-decoration-line: underline;
}

#playerLog > li {
    position: absolute;
    top: 85px;
    left: 0px;
    color: white;
    display: list-item;                                             
    list-style-type: disc;      
    list-style-position: inside;
}

#login-form {
  display: grid;
  grid-auto-columns: max-content;
}

label {
    color: white;
}
ul#currentPlayer{
    text-align-last: end;
    padding: 0 80px;
    color: white;   
    text-decoration-line: underline;
    font-weight: 100;
    }

ul#currentPlayer > li {
        padding: 0 25px;
        color: white;
        list-style-type: none;
        text-decoration-line:none;
        display: list-item;                                             
        list-style-type: disc;      
        list-style-position: inside;
    }

#logHeader {
    display: block;
    padding-top: 28px;
    text-align: center;
}
ul#playerLog{
padding: 10px;
display: grid;
}
div.timer{
    color: #43cec7;
    display: grid;
}
div#time {
    display: grid;
    align-items: center;
    justify-content: center
}
div#stop_timer{
    display: grid;
    justify-content: center;
}